.spacegray-eighties {
 background-color: #212121;
 color: #bdb9ae;
 font-family: Menlo, monospace;
 font-size: 1rem;
 line-height: 1.5rem;
 font-weight: 500;
}

img {
 max-width: 100%;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	  color: #ffd156;
}

 h1 a,
 h2 a,
 h3 a,
 h4 a,
 h5 a,
 h6 a {
	color: #ffd156;
	border-bottom-color: #ffd156
}

 h1 a:hover,
 h2 a:hover,
 h3 a:hover,
 h4 a:hover,
 h5 a:hover,
 h6 a:hover {
	background-color: #ffd156;
	color: #eeece7
}

 pre {
	background-color: #15171c;
	border: none;
}

 table {
	color: #fbdd8e;
	margin-left: auto;
 margin-right: auto;
 border-collapse: collapse;
}

 table td,
 table th {
	border-color: #bbbbbb;
	border-style: solid;
 border-width: 1px;
}

a {
	  color: #fbdd8e;
	  border-color: #bdae93;
}
a:hover {
	color: #fdf4c1;
	background-color: #212121;
}

a:visited {
	  color: #bdae93;
	  border-color: #C1B7A9;
}
a:visited:hover {
	color: #fdf4c1;
	background-color: #212121;
}
