{% set base = config.base_url %}
<!DOCTYPE html>
<!--
                                                                                
                                                                                
                                                                                
                                                            @                   
                                              ,&        @@@@@                   
                                           &@@@@       @@@@@     @@@            
                      %@@@@@@@            ,@@@@#,@@  @@@@@@  @@@@#              
                    %@@@@@@@@@@@@@@      (@@@@%@@@ &@@@@@@@@@.                  
                   *@@@@.    ,@@@@@@@@( @@@@@@@# &@@@@@,                        
                   ,@@@@,         @@@@@@@@@@   @@@@@@.                          
                    &@@@@@           @@@@@# .@@@@@@                             
                      @@@@@@@*   ,@@@@@@@@@@@@@@@@@#                            
                        ,@@@@@@@@@@@@@@@@@@&%@@@@@@@@@@.                        
                        /@@@@@@@@@@@@*             @@@@@@@                      
    @@@@@@@@@@@@@@@@@@@@@@@@@                        .@@@@@/                    
  @@@@@@&(,.*#&@@@@@@@@@@@                             /@@@@@                   
 .@@@@.           #@@@@@                                .@@@@%                  
  @@@@@@@%.      #@@@@*                 @@@@      @@@@   %@@@@                  
    %@@@@@@@@@@@@@@@@%                  @@@@*     @@@@.   @@@@                  
          *@@@@@@@@@@                   @@@@(     @@@@.   @@@@                  
                %@@@@                    @@&       *&    #@@@@                  
                ,@@@@                                 @@@@@@@@(                 
                 @@@@@                                .@@@@@@@@@@@              
                 *@@@@%                                       @@@@@             
                  /@@@@@                                       @@@@@            
                    @@@@@@                                    @@@@@,            
                      @@@@@@@@*               ,&@@@@@@@@@@@@@@@@@@              
                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%                
                              /&@@@@@@@@@@@@@%.                                 
                                                                                
                                                                                
                                                                                
-->


<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ base }}/style.css" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/menlo" rel="stylesheet">
  <title>{{ config.title }}</title>
</head>

<body class="spacegray-eighties">
  <div class="container">
    <header style="margin: 1em auto 2em auto;">
      <nav>
        <a href="/">Locochoco</a>
        <a>-</a>
        <a href="/blog">Blog</a>
        <a>-</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
   
    {% block content %} {% endblock %}
  <hr> </hr>
  <footer>
    <p> {{ config.extra.footer.copyright | markdown |safe }} </p>
    <p> {{ config.extra.footer.served | markdown | safe }} </p>
  </footer>
  </div>
</body>

</html>
